<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="description" content="Cotação média do Bitcoin nas exchanges brasileiras, oportunidades de arbitragem, volume por exchange e volume total"/>
        <meta name="author" content="vitorgamer58"/>
        <meta name="rating" content="general"/>
        <title>Cotação Média do Bitcoin</title>
        <!-- <link href="css/estilo.css" rel="stylesheet" type="text/css" media="all"/> -->
        <link rel="shortcut icon" href="img/favicon.png">
        <link rel="canonical" href="https://bitcao.notasdovitor.top/cotacao/" />

        <!-- Social: Facebook / Open Graph -->
        <meta property="og:url" content="https://bitcao.notasdovitor.top/cotacao/"/>
        <meta property="og:type" content="page"/>
        <meta property="og:title" content="Cotação do Bitcao"/>
        <meta property="og:image" content="https://bitcao.notasdovitor.top/cotacao/img/img.png"/>
        <meta property="og:description" content="Cotação do bitcoin nas exchanges e média ponderada pelo volume"/>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-52149749-9"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-52149749-9');
</script>

<style type="text/css">
    body {
    color: black;
    text-align: center;
}
table, td, th, tfoot {
    border:solid 1px #000; padding:5px;
    margin: auto;
}

td#total {
text-align: center;
}

p {
    text-indent: 50px;
}

footer {
    text-align: center;
    
}
.center {
    text-align: center;
}
h1 {
    display: none;
}
</style>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v3.3"></script>
    </head>

