<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="description" content="Cotação média do Bitcão nas exchanges brasileiras"/>
        <meta name="author" content="vitorgamer58"/>
        <meta name="rating" content="general"/>
        <title>Cotação Média do Bitcão</title>
        <link href="css/estilo.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="css/estilo.css" rel="stylesheet" type="text/css" media="print"/>
        <link rel="shortcut icon" href="/img/favicon.png">
        <link rel="apple-touch-icon-precomposed" href="/img/logo_ios.png"/>

        <!-- Social: Facebook / Open Graph -->
        <meta property="og:url" content="http://bitcao.notasdovitor.top/"/>
        <meta property="og:type" content="page"/>
        <meta property="og:title" content="Cotação do Bitcao"/>
        <meta property="og:image" content="http://bitcao.notasdovitor.top/img/img.png"/>
        <meta property="og:description" content="Cotação do bitcoin nas exchanges e média ponderada pelo volume"/>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-52149749-7"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-521XXXXX-7');
</script>

    </head>


